<h1>   Hello Babita..................its a message to u from your dear belle </h1>
<strong>I really hope that you are enjoying learning node </strong>

<h1>Image here</h1>

<img src="/img/girl.jpeg" alt="An image">   

Hii {{user.name}} <br>
Your message : {{user.message}} <br>